<div class="container" style="background: ">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto/">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acerca/">Acerca</a>
          </li>

          {% if user.is_authenticated %}
          <!-- Enlace a Bienvenido cuando el usuario está autenticado -->
          <li class="nav-item">
            <a class="nav-link" href="/bienvenido/">Bienvenido</a>
          </li>
          <!-- Botón de Cerrar sesión dentro de un formulario separado -->
          <li class="nav-item">
            <form
              action="{% url 'logout' %}"
              method="post"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">
                Cerrar sesión
              </button>
            </form>
          </li>
          {% else %}
          <!-- Enlace para Iniciar sesión cuando el usuario no está autenticado -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% comment %} #fcff8f {% endcomment %}
