{% extends "base.html" %} {% block content %}
<div class="container-fluid p-0">
  <!-- Imagen de fondo con título principal -->
  <div
    class="bg-image position-relative text-center text-white"
    style="
      background-image: url('https://cdn.prod.website-files.com/62d1bc1a69ad7a7b3e9992b4/637fdd139a161e0b7d343a0c_Postres_y_diabetes_2.jpg');
      background-size: cover;
      background-position: center;
      height: 80vh;
    "
  >
    <div
      class="overlay position-absolute w-100 h-100"
      style="background-color: rgba(0, 0, 0, 0.5)"
    ></div>
    <div
      class="container position-relative"
      style="z-index: 1; padding-top: 20vh"
    >
      <h2 class="display-3 font-weight-bold">Clientes OnlyFlans</h2>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Testimonios de Clientes</h2>
  <div class="row">
    {% for testimonio in testimonios %}
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm border-light">
        <div class="card-body">
          <h5 class="card-title">{{ testimonio.nombre_cliente }}</h5>
          <p class="card-text">{{ testimonio.texto_testimonio }}</p>
          <p class="text-muted">{{ testimonio.fecha_creacion|date:"d M Y" }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
